* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #DFDFDF; 
}



nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: #1A1A1A; 
    color: #DFDFDF;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #DFDFDF;
    text-decoration: none;
    font-size: 14px;
}


.hero {
    background: #828282; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px;

    p{
        width: 60ch;
    }
}

.hero-text {
    flex: 1;
    color: #1A1A1A;
}

.hero-image {
    width: 300px;
    height: 250px;
    background: #DFDFDF;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid;
    border-color: aqua;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid;
    border-color: aqua;
    border-radius: 10px;
}

.second-name {
    margin-top: 30px;
}


.about {
    background: #1A1A1A; 
    color: #DFDFDF;
    padding: 80px 100px;

}

.about h2{
    justify-content: center;
    text-align: center;

}
.midtext{
    justify-content: center;
    text-align: center;

}

.about-content {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.about-img {
    width: 150px;
    height: 150px;
    background: #828282;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid;
    border-color: aqua;
    border-radius: 10px;
}

.about-text p h2{
    font-size: 14px;
    margin-top: 10px;
    color: #DFDFDF;
}
.about-text h3{
    justify-content: flex-start;
    text-align: flex-start;
}

.about-img img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    border: 1px solid;
    border-color: aqua;
    border-radius: 10px;
}

.skills {
    background: #DFDFDF; 
    padding: 80px 100px;
    text-align: center;
}

.section-subtitle {
    margin-bottom: 40px;
    font-size: 14px;
    color: #1A1A1A;
}

.skill-container {
    display: flex;
    gap: 20px;

}

.skill-card {
    flex: 1;
    background: #828282;
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;

}

.skill-icon {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1A1A1A;
}

.skill-item {
    text-align: left;
    margin-top: 15px;
}

.skill-item label {
    font-size: 11px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background: #DFDFDF;
    height: 8px;
}

.progress {
    background: #1A1A1A; 
    height: 100%;
}


.projects {
    background: #828282; 
    padding: 80px 100px;
    text-align: center;
}

.project-container {
    display: flex;
    gap: 20px;
}

.project-card {
    flex: 1;
    text-align: left;
}

.project-img-placeholder {
    height: 180px;
    background: #DFDFDF;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 10px;
    border-color: aqua;
}
.project-img-placeholder img{
    width: 100%;
    height: auto;

}

.view-btn {
    background: #1A1A1A;
    color: #DFDFDF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}


.work {
    background: #1A1A1A;
    color: #DFDFDF;
    padding: 80px 100px;
    text-align: center;
}

.work-box {
    background: #828282;
    color: #1A1A1A;
    padding: 30px;
    margin-top: 20px;
    text-align: left;
}

.work-date {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}

.company {
    font-weight: bold;
    margin: 5px 0 10px;
}


.education {
    background: #828282;
    padding: 80px 100px;
    text-align: center;
}

.education-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.edu-card {
    flex: 1;
    background: #1A1A1A;
    color: #DFDFDF;
    padding: 30px;
    display: flex;
    gap: 20px;
    text-align: left;
}

.edu-icon {
    font-size: 40px;
}

.edu-desc {
    font-size: 12px;
    color: #DFDFDF;
    line-height: 1.4;
}


.contact {
    background: #828282;
    padding: 80px 100px;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    background: #DFDFDF;
    border: none;
}

.submit-btn {
    background: #1A1A1A;
    color: #DFDFDF;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    float: right;
}


.resume-bar {
    background: #DFDFDF;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-btn {
    background: #1A1A1A;
    color: #DFDFDF;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

footer {
    background: #1A1A1A;
    color: #828282;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}